/* CSS Document */
/*总体------------------------------*/
body,div,p,span,ul,li,h1,h2,h3,h4,ol,dl,dt,dd,img,a,input,textarea{ padding:0; margin:0; list-style:none; border:0;}
body{font-size:12px;color:#5e5e5e;font-family:"宋体";}
a:link,a:visited{color:#5e5e5e;text-decoration:none;}
a:hover{color:#cc0000;text-decoration:underline;}

/*top_ad--------------------------------*/
#top_ad{height:40px;width:100%;margin:0 auto;background:#136fd2;text-align:center;}
/*bar-------------------------------------*/
#bar{height:30px;background:#f3f3f3;}
#bar dl{width:1200px;height:30px;margin:0 auto;}
#bar dt{width:150px;height:30px;float:left;}
#bar dt li{float:left;line-height:2.5em;}
#bar dt .li01{text-align:center;background:url(../images/bar_r1_c1.png) no-repeat 0px 6px;padding-left:22px;padding-right:11px;}
#bar dt .li02{text-align:center;background:url(../images/bar_r2_c3.png) no-repeat 0px 8px;padding-left:15px;}

#bar dd{width:727px;height:30px;float:right;}
#bar dd li{float:left;line-height:2.5em;margin-right:13px;}
#bar dd .li03{color:#a5a5a5;}
#bar dd .li04{background:url(../images/bar_r2_c3.png) no-repeat 0px 8px;padding-left:15px;}
#bar dd .li05{background:url(../images/bar_r3_c5.png) no-repeat 65px 12px;padding-right:15px;padding-left:15px;margin-left:1;}
#bar dd .li06{background:url(../images/bar_r2_c3.png) no-repeat 0px 8px;padding-left:15px;}
#bar dd .li61{margin-right:10px;}
#bar dd .li07{background:url(../images/bar_r3_c5.png) no-repeat 65px 12px;padding-right:15px;padding-left:15px;margin-left:1;}
#bar dd .li08{padding-right:0px;margin-right:0px;margin-left:5px;}
#bar dd .li08 a:link,#bar dd .li08 a:visited{color:#0066cc;text-decoration:none;}
#bar dd .li08 a:hover{color:#0066cc;text-decoration:underline;}
.wodeguomei{width:296px;height:130px;background:#fff;box-shadow:1px 2px 3px #CCC;position:absolute;left:625px;top:65px;z-index:5;display:none;}
.wodeguomei ul{width:275px;height:128px;margin-left:10px;}
.li15{width:275px;height:34px;;border-bottom:1px solid #CCC;line-height:34px;}
.li15 a:link,.li15 a:visited{color:#0066cc;text-decoration:none;}
.li15 a:hover{color:#0066cc;text-decoration:underline;}
.li16{width:275px;height:34px;border-bottom:1px solid #CCC;line-height:34px;}
.li16a{margin-left:45px;}
.wodeguomei ul a:link,.wodeguomei ul a:visited{color:#0066cc;text-decoration:none;}
.wodeguomei ul a:hover{color:#0066cc;text-decoration:underline;}
.li17a{margin-left:80px;}
.li17b{margin-left:48px;}
.li17c{margin-left:68px;}
.wangzhandaohang{width:172px;height:285px;background:#fff;box-shadow:1px 1px 5px #ccc;position:absolute;left:970px;top:65px;z-index:5;line-height:24px;display:none;}
.wangzhandaohang h4{color:#999;height:20px;}
.wangzhandaohang ul{width:152px;height:284px;margin-left:10px;}
.li18{width:152px;height:83px;border-bottom:1px solid #ccc;}
.li18a{margin-right:37px;}
.li19{width:152px;height:58px;border-bottom:1px solid #ccc;}
.li19a{margin-left:37px;}
.li20{width:152px;height:106px;border-bottom:1px solid #ccc;}
.li20a{margin-left:37px;}
.li20b{margin-left:24px;}
.li20c{margin-left:37px;}
.li21{width:152px;height:34px;}
.wangzhandaohang  ul a:link,.wangzhandaohang  ul a:visited{color:#0066cc;text-decoration:none;}
.wangzhandaohang  ul a:hover{color:#0066cc;text-decoration:underline;}





/*.wodeguomei{width:297px;height:127px;background:#fff;box-shadow:0 0 10px #ddd;position:absolute;left:650px;top:70px;}*/
/*header-------------------------------------*/
#header{width:1200px;height:95px;margin:0 auto;}
.logo{width:394px;height:71px;padding-top:24px;float:left;}
.search{width:460px;height:60px;float:left;margin-top:20px;}
.search_top{width:460px;height:38px;}
.search_top_l{width:387px;height:32px;border:3px solid #cc0000;float:left;border-right:none;}
.sosuo{width:384px;height:32px;border:none;color:#a5a5a5;_padding-top:10px;_height:20px;padding-left:10px;_width:374px;}
.search_top_r{width:70px;height:38px;float:left;}
.search_down{width:460px;height:21px;line-height:24px;}
.search_down a:link,.search_down a:visited{color:#a5a5a5;}
.search_down a:hover{color:#cc0000;}
.search_down .current_red:link,.search_down .current_red:visited{color:#cc0000;}
.hearder_right{width:200px;height:95px;float:right;}
.shopcar{width:200px;height:37px;margin-top:20px;}
.shopcar_l{width:50px;height:37px;float:left;display:block;line-height:1.5em;}
.shopcar_r{width:140px;height:35px;float:right;display:block;background:#f8f8f8 url(../images/bar_r3_c5.png) no-repeat 111px 17px;border:1px solid #dddddd;line-height:36px;}
.shopcar .bgshop{width:30px;height:24px;_height:21px;display:block;margin-left:4px;margin-top:5px;background: url(../images/ui.png) no-repeat -333px -122px;float:left;}

/*nav--------------------------------------*/
#nav{height:45px;margin-top:5px;}
.nav_con{width:1200px;height:40px;margin:0 auto;}
.nav_con_l{width:190px;height:40px;float:left;background:#b01421 url(../images/nav_r9_c3.png) no-repeat 10px 36px;font-size:16px;font-family:"微软雅黑";color:#fff;padding-left:10px;line-height:2.5em;}
.nav_con_r_l{width:740px;height:40px;float:left;}
.nav_con_r_l li{float:left;font-size:16px;font-weight:bold;line-height:2.5em;position:relative;}
.nav_con_r_l li a{height:40px;display:inline-block;padding-left:18px;_padding-left:18px;padding-right:17px;_padding-right:17px;}
.nav_con_r_l li span{ position:absolute; left:0; top:40px;height:40px;}
.span111{background:#3F3;}
.span222{background:#3FF;}
.span333{background:#0C0;}
.span444{background:#09F;}
.span555{background:#3CF;}
.span666{background:#F06;}
.span777{background:#CF0;}
.span888{background:#C3F;}
.span999{background:#600;}
.nav_con_r_l li a:link,.nav_con_r_l li a:visited{color:#333333;}
.nav_con_r_l li a:hover{color:#cc0000;background:url(../images/nav_c4.png) repeat-x left bottom;text-decoration:none;}
.nav_con_r_l .nomargin{padding:0px;}
.nav_con_r_l .index a:link,.nav_con_r_l .index a:visited{color:#cc0000;background:url(../images/nav_c4.png) repeat-x left bottom;text-decoration:none;}

.nav_con_r_r{width:200px;height:40px;float:right;cursor:pointer;position:relative;overflow:hidden;}
.nav_con_r_r_a{width:160px;height:40px;position:absolute;left:0;top:0;}
.anniu{width:34px;height:40px;position:absolute;right:0;top:0;background:url(../images/ui.png) no-repeat -356px -147px;}
.anniu a{width:16px;height:10px;border:1px dashed rgba(0, 0, 0, 0);position:absolute;top:9px;right:4px;}
.anniu .shangjiantou{background:url(../images/up_r1_c1.png) no-repeat center center;}
.anniu .xiajiantou{background:url(../images/up_r3_c1.png) no-repeat center center;margin-top:15px;}
.anniu .shangjiantou:hover{background:#f8f8f8 url(../images/up_r1h.png) no-repeat center center;border:1px solid #ccc;}
.anniu .xiajiantou:hover{background:#f8f8f8 url(../images/up_r3hx1.png) no-repeat center center;border:1px solid #ccc;}

/*con1-------------------------------------*/
#con1{height:446px;background:url(../images/ui-x.png) repeat-x 0 0;}
.con1_con{width:1200px;height:446px;margin:0 auto;}
.con1_left{width:200px;height:446px;background:green;float:left;position:relative;z-index:130;}
.con1_left_t{width:200px;_width:180px;height:382px;background:#b01421;}
.con1_left_t li{height:29px;color:#f5dddd;float:left;_clear:both;font-size:14px;line-height:29px;padding-left:20px;_padding-left:18px;background:url(../images/navc2.png) no-repeat 10px center;width:180px;}
.con1_left .con1_left_t a:link,.con1_left .con1_left_t a:visited{color:#f5dddd;text-decoration:none;}
.con1_left .con1_left_t a:hover{color:#f5dddd;text-decoration:underline;}

.fenglei{width:810px; height:429px; position:absolute; background:#fff; z-index:121; left:200px; top:0px;padding:5px; display:none;min-height: 415px;}
.fenglei .fll{width:477px; float:left; word-spacing:-8px; font-size:12px;}
.fenglei .fll .one{ height:60px; line-height:30px; border-bottom:1px solid #ccc; background:none; padding-left:30px;}
.fenglei .fll .two{ height:60px; line-height:30px; border-bottom:1px solid #ccc; background:none; padding-left:30px;}
.fenglei .fll .three{ height:60px; line-height:30px; border-bottom:1px solid #ccc; background:none; padding-left:30px;}
.fenglei .fll p{ height:38px; line-height:37px; border-bottom:1px solid #ccc; background:none; padding-left:30px;}
.fenglei .fll span{ margin:0 5px; color:#666;}
.fenglei .fll p .current:link,.fenglei .fll p .current:visited{color:#de373e;; font-size:12px;text-decoration:none; font-weight:bold;}
.fenglei .fll p a:link,.fenglei .fll p a:visited{color:#666; font-size:12px;}
.fenglei .fll p a:hover{color:#de373e;}
.fenglei .fll .lastp{border:none;}

.fenglei .flr{width:195px; margin-left:18px; float:left;}
.fenglei .flr .span10 img{ display:block; margin-top:5px;}
.fenglei .flr p{ line-height:20px; margin-top:10px; background:none;}
.fenglei .flr strong{color:#de373e; height:22px;}
.fenglei .flr p a:link,.fenglei .flr p a:visited{color:#666; font-size:12px;}
.fenglei .flr p a:hover{color:#de373e;}


.con1_left_d{width:198px;height:68px;background:#f8f8f8;border:1px solid #e6e6e6;border-top:none;float:left;}
.con1_left .con1_left_d li{list-style:none;font-size:12px;color:#5e5e5e;margin-top:3px;width:180px;_padding-left:6px;padding-left:10px;}
.con1_left .con1_left_d li a{background:url(../images/conleftd.png) no-repeat 0px center;_padding-left:15px;padding-left:15px;padding-right:8px;}
.con1_left .con1_left_d .xiamian a:link,.con1_left  .con1_left_t .xiamian a:visited{color:#5e5e5e;text-decoration:none;}
.con1_left .con1_left_d .xiamian a:hover{color:#cc0000;text-decoration:underline;background:url(../images/20131016222352_r2_c2.jpg) no-repeat left center;}
.li10{width:169px;}


.con1_right{width:1000px;height:445px;float:right;}
.con1_right_l{width:740px;height:445px;float:left;}
.banner{width:740px;height:280px;overflow:hidden;position:relative;}
.jiaodiantu li{width:740px;height:280px;overflow:hidden;}
.xiabiao{width:170px;height:25px;position:absolute;z-index:6;left:550px;top:240px;float:left;}
.xiabiao li{width:25px;height:23px;background:#7d7b7f;margin-right:9px;float:left;text-align:center;padding-top:2px;color:#fff;font-size:18px;cursor:pointer;opacity:0.8;font-family:"arial";}
.xiabiao li.changeback{background:#cc0000;opacity:1;}


.con1_right_l_d{width:740px;height:165px;border-bottom:1px solid #e6e6e6;position:relative;}
.xianshi{width:676px;height:165px;overflow:hidden;position:absolute;left:0px;top:0px;z-index:40;margin-left:30px;}
.con1_right_l_d ul{width:3400px;height:165px;border:none;position:relative;left:0px;top:0px;margin-1eft:5px;}
.con1_right_l_d ul li{float:left;width:169px;overflow:hidden;border-right:1px solid #CCC;}
.con1_right_l_d .li11{width:30px;height:165px;float:left;background:url(../images/tb_r1_c1.png) no-repeat 10px center;border:none;position:absolute;left:0px;top:0px;cursor:pointer;z-index:120;}
.con1_right_l_d .li12{width:30px;height:165px;float:right;background: url(../images/tb_r1_c2.png) no-repeat 10px center;border:none;position:absolute;left:707px;top:0px;cursor:pointer;z-index:120;}
.con1_right_l_d .li13{border:none;float:left;width:169px;overflow:hidden;}
.con1_right_r{width:260px;height:445px;float:right;}
.con1_right_r_s{width:260px;height:130px;}
.div1{width:240px;height:30px;background:#f8f8f8 url(../images/ui-x.png) repeat-x 0 0;padding:0 10px;}
.div1 h3{font-size:12px;line-height:28px;float:left;}
.div1 span{float:right;line-height:28px;}
.div1 a:link,.div1 a:visited{color:#0066cc;text-decoration:none;}
.div1 a:hover{color:#0066cc;text-decoration:underline;}
.dl1{width:230px;height:85px;margin-top:10px;float:left;padding-left:10px;}
.dl1 dt{width:106px;height:85px;float:right;line-height:22px;}
.dl1 dd{width:111px;height:85px;float:left;line-height:22px;}
.dl1 a:link,.dl1 a:visited{color:#5e5e5e;text-decoration:none;}
.dl1 a:hover{color:#cc0000;text-decoration:underline;}
.dl1 .current:link,.dl1 .current:visited{color:#cc0000;text-decoration:none;}
.dl1 .current:hover{color:#cc0000;text-decoration:underline;}


.con1_right_r_z{width:260px;height:110px;background:yellow;}


.con1_right_r_x{width:260px;height:205px;}
.div2{width:260px;height:40px;position:relative;}
.border{width:258px;height:165px;border:1px solid #e0e0e0;border-top:none;float:left;display:block;;}
.span1{display:inline-block;width:130px;height:38px;text-align:center;font-weight:bold;color:#cc0000;line-height:3em;float:left;border-bottom:2px solid #a5a5a5;cursor:pointer;}
.span2{display:inline-block;width:130px;height:38px;border-bottom:2px solid #a5a5a5;float:right;text-align:center;font-weight:bold;color:#333;line-height:3em;cursor:pointer;}
.spanhong{display:inline-block;width:130px;height:5px;_display:inline;position:absolute;left:0;top:35px;z-index:4;background:#cc0000;font-size:0;}
.dl2{width:212px;height:142px;margin-top:11px;margin-left:22px;}
.dl2 dt{width:48px;height:142px;float:left;}
.dl2 .span3{width:48px;height:60px;display:block;line-height:2em;}
.dl2 .span4{width:48px;height:27px;display:block;}
.dl2 .span5{width:48px;height:48px;display:block;}
.dl2 dd{width:160px;height:142px;float:right;}
.dl2 .span6{width:160px;height:56px;display:block;}
.input1{width:157px;height:24px;color:#a5a5a5;border:1px solid #ccc;display:block;margin-bottom:3px;float:left;_line-height:26px;}
.dl2 .span7{width:86px;height:32px;display:block;}
#chongzhi{margin-top:14px;width:86px;}
.dl2 .span8{width:86px;_width:90px;height:20px;display:block;color:#cc0000;margin-top:10px;_margin-top:8px;font-weight:bold;}
.dl2 .span9{width:156px;height:26px;display:block;}
.dl2 .span9 .span9_left{width:75px;height:26px;float:left;text-align:center;color:#fff;display:block;line-height:2em;}
.span9_left a{display:block;width:75px;height:26px;}
.dl2 .span9 .span9_right{width:81px;height:26px;float:right;text-align:right;color:#0066cc;display:block;line-height:2em;}
.span9_left a:link,.span9_left a:visited{background:#cc0000;color:#fff;text-decoration:none;}
.span9_left a:hover{background:#dd0000;color:#fff;text-decoration:none;}
.span9_right a:link,.span9_right a:visited{color:#0066cc;text-decoration:none;}
.span9_right a:hover{color:#0066cc;text-decoration:underline;}

.border2{width:258px;height:165px;border:1px solid #e0e0e0;border-top:none;float:left;display:none;}
.dl3{width:70px;height:101px;margin-left:10px;float:left;padding-top:10px;_display:inline;}
.border2 dd{text-align:center;line-height:26px;}
.dl4{width:70px;height:101px;margin-left:14px;float:left;padding-top:10px;_display:inline;}
.dl5{width:70px;height:101px;margin-left:14px;float:left;padding-top:10px;_display:inline;}
.border2 ul{width:258px;height:53px;background:yellow;float:left;}
.border2 ul li{width:85px;height:26px;background:#f8f8f8;float:left;border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6;text-align:center;line-height:26px;;}
.border2 .nobd{border-right:none;width:86px;}







/*con2-----------------------------------*/
#con2{width:1200px;height:281px;margin:0 auto;}
.con2_left{width:930px;height:281px;float:left;}
.con2_left_top{width:930px;height:40px;}
.ul1{width:930px;height:40px;}
.ul1 li{width:232px;height:38px;border-bottom:2px solid #a5a5a5;float:left;text-align:center;line-height:3em;font-weight:bold;color:#333;}
.ul1 .current{width:232px;height:40px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;line-height:3em;}
.con2_left_down{width:930px;height:241px;}
.ul2{width:912px;height:231px;margin-left:10px;margin-top:10px;}
.ul2 li{width:160px;height:231px;float:left;margin-right:28px;background:#fff;position:relative;}
.ul2 .current{margin:0;}
#a1{width:160px;height:28px;display:block;line-height:2em;}
.ul2 .p1{text-align:center;width:160px;height:33px;line-height:16px;padding-top:3px;}
.ul2 .span10{display:block;width:160px;height:3px;background:url(../images/ui.png) no-repeat -282px -193px;font-size:0px;}
.ul2 .span11{color:#333333;font-weight:bold;}
.jiage{width:103px;height:27px;background:#ffffd0;position:absolute;left:55px;top:120px;border:1px solid #cc0000;}
.qian{display:block;width:7px;height:27px;background:url(../images/rmb3.png) no-repeat;margin-left:3px;margin-top:4px;float:left;}
.num{width:52px;height:27px;float:left;font-size:14px;color:#cc0000;font-weight:bold;line-height:26px;}
.hongkuang{width:37px;height:19px;background:#cc0000;margin-top:4px;display:block;float:left;text-align:center;line-height:1.5em;color:#fff;}


.con2_right{width:260px;height:281px;float:right;}
.con2_right_top{width:260px;height:38px;border-bottom:2px solid #cc0000;}
.con2_right_top h4{color:#cc0000;float:left;font-size:12px;line-height:3em;}
.con2_right_top span{float:right;line-height:3em;}
.con2_right_top a:link,.con2_right_top a:visited{color:#0066cc;text-decoration:none;}
.con2_right_top a:hover{color:#0066cc;text-decoration:underline;}

.con2_right_down{width:238px;height:240px;border-left:1px solid #333333;border-right:1px solid #eeeeee;border-bottom:1px solid #eee;padding-left:10px;padding-right:10px;}
#fdtp{display:block;float:left;}
.span12{width:14px;height:240px;float:left;background:url(../images/tb_r1_c1.png) no-repeat left center;}
.span13{width:14px;height:240px;float:right;background:url(../images/tb_r1_c2.png) no-repeat left center;}
.span14{width:246px;height:85px;position:absolute;right:88px;top:846px;_top:852px;_right:65px;}


/*con3-----------------------------------*/
#con3{width:1200px;height:380px;margin:0 auto;margin-top:10px;}
.con3_left{width:930px;height:279px;float:left;}
.con3_left_top{width:930px;height:40px;}
.ul3{width:930px;height:40px;}
.ul3 li{width:232px;height:38px;border-bottom:2px solid #a5a5a5;float:left;text-align:center;line-height:3em;font-weight:bold;color:#333;}
.ul3 .current{width:232px;height:40px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;line-height:3em;}
.con3_left_down{width:930px;height:240px;}
.ul4{width:930px;height:240px;}
.ul4 li{width:185px;height:240px;border-right:1px solid #ccc;float:left;}
.ul4 img{display:block;}
.ul4 .current{border:none;width:185px;height:240px;float:left;}
.con3_right{width:260px;height:279px;float:right;}
.con3_right_top{width:260px;height:38px;border-bottom:2px solid #a5a5a5;}
.con3_right_top h4{width:100px;height:38px;float:left;margin-left:10px;line-height:3em;}
.con3_right_top span{display:block;width:85px;height:38px;float:right;line-height:3em;}
.con3_right_down{width:260px;height:240px;position:relative;overflow:hidden;}
.jxhd{width:1040px;height:24px;position:absolute;left:0px;top:0px;}
.jxhd li{float:left;}
.huadongtiao{width:205px;height:6px;font-size:0px;position:absolute;left:30px;bottom:21px; }
.huadongtiao li{float:left;margin-right:3px;background:#bbbdba;width:48px;height:6px;}
.huadongtiao .nomargin{margin:0;}
.huadongtiao .bgh{background:#cc0000;}
.con3_down{width:1200px;height:90px;margin-top:10px;float:left;}
.con3_down li{width:297px;height:90px;float:left;margin-right:4px;}
.con3_down .nomargin{margin:0;}
.con3_down img{display:block;}

/*con4---------------------------------------*/
#con4{width:1200px;height:486px;margin:0 auto;position:relative;}
#con4 img{display:block;}
.con4_left{width:200px;height:486px;float:left;}
.con4_left_top{width:200px;height:33px;border-bottom:2px solid #a5a5a5;font-size:24px;font-family:"黑体";padding-top:20px;text-align:center;}
.con4_left_down{width:200px;height:431px;}
#con4 p{width:115px;height:394px;line-height:24px;margin-top:14px;display:inline-block;margin-left:9px;position:absolute;z-index:2}
.g_floor_lpic{ width: 100px;height: 430px;position: absolute;left:135px;top: 70px;  z-index:0;}
.g_floor_lpic a{display:block; width:100px; height:100px;margin-bottom:55px;opacity:0.5;}
.tuchu1{opacity:1;position:absolute;left:0px;top:0px;}
.tuchu2{opacity:1;position:absolute;left:0px;top:140px;}
.tuchu3{opacity:1;position:absolute;left:0px;top:280px;}

.con4_right{width:1000px;height:486px;float:right;}
.con4_right_top{width:1000px;height:53px;border-bottom:2px solid #a5a5a5;}
.ul5{width:1000px;height:53px;}
.ul5 li{width:123px;height:23px;float:left;text-align:center;font-weight:bold;color:#333;display:inline-block;padding-top:30px;}
.ul5 .current{width:123px;height:23px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;display:inline-block;border-bottom:2px solid #cc0000;}

.con4_right_down{width:1000px;height:431px;}
.con4_right_down_l{width:739px;height:430px;float:left;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;position:absolute;}
.con4_right_down_l .current{width:368px;width:368px;height:216px;float:left;background:red;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;overflow:hidden;position:relative;}
.gOpSlider1{position:absolute;left:74px;bottom:0;z-index:1;width:220px;height:28px;}
.gOpSlider1 span{width:50px;height:6px;font-size:0px;margin-right:5px;background:#bbbbbb;display:inline-block;}
.fbyd1{position:absolute;left:0px;top:0;}
.gOpSlider1 .nomargin{margin:0;}
.gOpSlider1 .pmoCur{background:#cc0000;margin-right:5px;}
.con4_right_down_l li{width:184px;height:216px;float:left;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con4_right_down_l .li14 {width:184px;_display:inline;height:214px;background:#fff;}
.con4_right_down_l .current2{width:183px;height:214px;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con4_right_down_l .li14 img{margin-left:27px;}
.descr{background: #FFFFFF; color: #5E5E5E; height: 45px; line-height: 18px; margin-left:12px;overflow: hidden; width: 160px;display:inline-block; word-break: break-all;}
.price{color: #CC0000; height: 18px; line-height: 18px; margin-top: -4px;margin-left:12px;} 
.price .rmb{font-size:12px;line-height:23px;;}  
.price .yuan{font-size:16px;}  
.price .jiao{line-height:23px;} 

.con4_right_down_r{width:260px;height:430px;background:red;float:right;border-bottom:1px solid #f2f2f2;}
.pplogo{background:#F3F3F3; border-left: 1px solid #E6E6E6;float: left; height: 140px; width: 260px;}
.pplogo a{ display: inline;  float: left;  height: 40px; margin: 5px 0 0 5px;  overflow: hidden; position: relative; width: 80px;}
.pplogo a img{clip: rect(0px, 80px, 80px, 0px); height: 40px; left: 0; overflow: hidden; position: absolute; top: 0; width: 160px;}
.cxList{background:#F8F8F8;  border-left: 1px solid #E6E6E6;display: inline-block; float: left;
height: 288px;padding-top: 2px;position: relative;z-index: 1;}
.cxList a{border-bottom: 1px solid #F3F3F3;    display: inline-block; float: left; height: 95px;
 overflow: hidden; width: 100%; word-break: break-all;}
   
/*con5-----------------------------------*/
#con5{width:1200px;height:486px;margin:0 auto;position:relative;}
#con5 img{display:block;}
.con5_left{width:200px;height:486px;float:left;}
.con5_left_top{width:200px;height:33px;border-bottom:2px solid #a5a5a5;font-size:24px;font-family:"黑体";padding-top:20px;text-align:center;}
.con5_left_down{width:200px;height:431px;}
#con5 p{width:115px;height:394px;line-height:24px;margin-top:14px;display:inline-block;margin-left:9px;position:absolute;z-index:2}

    
    
    
   
  



.con5_right{width:1000px;height:486px;float:right;}
.con5_right_top{width:1000px;height:53px;border-bottom:2px solid #a5a5a5;}
.ul5{width:1000px;height:53px;}
.ul5 li{width:123px;height:23px;float:left;text-align:center;font-weight:bold;color:#333;display:inline-block;padding-top:30px;}
.ul5 .current{width:123px;height:23px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;display:inline-block;border-bottom:2px solid #cc0000;}


.con5_right_down{width:1000px;height:431px;}
.con5_right_down_l{width:739px;height:430px;float:left;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;position:absolute;}
.con5_right_down_l .current{width:368px;width:368px;height:216px;float:left;background:red;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;overflow:hidden;position:relative;}
.gOpSlider2{position:absolute;left:74px;bottom:0;z-index:1;width:220px;height:28px;}
.gOpSlider2 span{width:50px;height:6px;font-size:0px;margin-right:5px;background:#bbbbbb;display:inline-block;}
.fbyd2{position:absolute;left:0px;top:0;}
.gOpSlider2 .nomargin{margin:0;}
.gOpSlider2 .pmoCur{background:#cc0000;margin-right:5px;}
.con5_right_down_l li{width:184px;height:216px;float:left;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con5_right_down_l .li14 {width:184px;_display:inline;height:214px;background:#fff;}
.con5_right_down_l .current2{width:183px;height:214px;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con5_right_down_l .li14 img{margin-left:27px;}
.descr{background: #FFFFFF; color: #5E5E5E; height: 45px; line-height: 18px; margin-left:12px;overflow: hidden; width: 160px;display:inline-block; word-break: break-all;}
.price{color: #CC0000; height: 18px; line-height: 18px; margin-top: -4px;margin-left:12px;} 
.price .rmb{font-size:12px;line-height:23px;;}  
.price .yuan{font-size:16px;}  
.price .jiao{line-height:23px;} 

.con5_right_down_r{width:260px;height:430px;background:red;float:right;border-bottom:1px solid #f2f2f2;}
.pplogo{background:#F3F3F3; border-left: 1px solid #E6E6E6;float: left; height: 140px; width: 259px;}
.pplogo a{ display: inline;  float: left;  height: 40px; margin: 5px 0 0 5px;  overflow: hidden; position: relative; width: 80px;}
.pplogo a img{clip: rect(0px, 80px, 80px, 0px); height: 40px; left: 0; overflow: hidden; position: absolute; top: 0; width: 160px;}
.cxList{background:#F8F8F8;  border-left: 1px solid #E6E6E6;display: inline-block; float: left;
height: 288px;padding-top: 2px;position: relative;z-index: 1;}
.cxList a{border-bottom: 1px solid #F3F3F3;    display: inline-block; float: left; height: 95px;
 overflow: hidden; width: 100%; word-break: break-all;}
.lingwai{width:182px;}
   
/*con6-----------------------------------*/
#con6{width:1200px;height:486px;margin:0 auto;position:relative;}
#con6 img{display:block;}
.con6_left{width:200px;height:486px;float:left;}
.con6_left_top{width:200px;height:33px;border-bottom:2px solid #a5a5a5;font-size:24px;font-family:"黑体";padding-top:20px;text-align:center;}
.con6_left_down{width:200px;height:431px;}
#con6 p{width:115px;height:394px;line-height:24px;margin-top:14px;display:inline-block;margin-left:9px;position:absolute;z-index:2}


    
    
    
   
  



.con6_right{width:1000px;height:486px;float:right;}
.con6_right_top{width:1000px;height:53px;border-bottom:2px solid #a5a5a5;}
.ul5{width:1000px;height:53px;}
.ul5 li{width:123px;height:23px;float:left;text-align:center;font-weight:bold;color:#333;display:inline-block;padding-top:30px;}
.ul5 .current{width:123px;height:23px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;display:inline-block;border-bottom:2px solid #cc0000;}

.con6_right_down{width:1000px;height:431px;}
.con6_right_down_l{width:739px;height:430px;float:left;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;position:absolute;}
.con6_right_down_l .current{width:368px;width:368px;height:216px;float:left;background:red;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;overflow:hidden;position:relative;}
.gOpSlider3{position:absolute;left:74px;bottom:0;z-index:1;width:220px;height:28px;}
.gOpSlider3 span{width:50px;height:6px;font-size:0px;margin-right:5px;background:#bbbbbb;display:inline-block;}
.fbyd3{position:absolute;left:0px;top:0;}
.gOpSlider3 .nomargin{margin:0;}
.gOpSlider3 .pmoCur{background:#cc0000;margin-right:5px;}
.con6_right_down_l li{width:184px;height:216px;float:left;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con6_right_down_l .li14 {width:184px;_display:inline;height:214px;background:#fff;}
.con6_right_down_l .current2{width:183px;height:214px;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con6_right_down_l .li14 img{margin-left:27px;}
.descr{background: #FFFFFF; color: #5E5E5E; height: 45px; line-height: 18px; margin-left:12px;overflow: hidden; width: 160px;display:inline-block; word-break: break-all;}
.price{color: #CC0000; height: 18px; line-height: 18px; margin-top: -4px;margin-left:12px;} 
.price .rmb{font-size:12px;line-height:23px;;}  
.price .yuan{font-size:16px;}  
.price .jiao{line-height:23px;} 

.con6_right_down_r{width:260px;height:430px;background:red;float:right;border-bottom:1px solid #f2f2f2;}
.pplogo{background:#F3F3F3; border-left: 1px solid #E6E6E6;float: left; height: 140px; width: 259px;}
.pplogo a{ display: inline;  float: left;  height: 40px; margin: 5px 0 0 5px;  overflow: hidden; position: relative; width: 80px;}
.pplogo a img{clip: rect(0px, 80px, 80px, 0px); height: 40px; left: 0; overflow: hidden; position: absolute; top: 0; width: 160px;}
.cxList{background:#F8F8F8;  border-left: 1px solid #E6E6E6;display: inline-block; float: left;
height: 288px;padding-top: 2px;position: relative;z-index: 1;}
.cxList a{border-bottom: 1px solid #F3F3F3;    display: inline-block; float: left; height: 95px;
 overflow: hidden; width: 100%; word-break: break-all;}
.lingwai{width:182px;}
   
 /*con7-----------------------------------*/
#con7{width:1200px;height:486px;margin:0 auto;position:relative;}
#con7 img{display:block;}
.con7_left{width:200px;height:486px;float:left;}
.con7_left_top{width:200px;height:33px;border-bottom:2px solid #a5a5a5;font-size:24px;font-family:"黑体";padding-top:20px;text-align:center;}
.con7_left_down{width:200px;height:431px;}
#con7 p{width:115px;height:394px;line-height:24px;margin-top:14px;display:inline-block;margin-left:9px;position:absolute;z-index:2;}


    
    
    
   
  



.con7_right{width:1000px;height:486px;float:right;}
.con7_right_top{width:1000px;height:53px;border-bottom:2px solid #a5a5a5;}
.ul5{width:1000px;height:53px;}
.ul5 li{width:123px;height:23px;float:left;text-align:center;font-weight:bold;color:#333;display:inline-block;padding-top:30px;}
.ul5 .current{width:123px;height:23px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;display:inline-block;border-bottom:2px solid #cc0000;}

.con7_right_down{width:1000px;height:431px;}
.con7_right_down_l{width:739px;height:430px;float:left;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;position:absolute;}
.con7_right_down_l .current{width:368px;width:368px;height:216px;float:left;background:red;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;overflow:hidden;position:relative;}
.gOpSlider4{position:absolute;left:74px;bottom:0;z-index:1;width:220px;height:28px;}
.gOpSlider4 span{width:50px;height:6px;font-size:0px;margin-right:5px;background:#bbbbbb;display:inline-block;}
.fbyd4{position:absolute;left:0px;top:0;}
.gOpSlider4 .nomargin{margin:0;}
.gOpSlider4 .pmoCur{background:#cc0000;margin-right:5px;}
.con7_right_down_l li{width:184px;height:216px;float:left;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con7_right_down_l .li14 {width:184px;_display:inline;height:214px;background:#fff;}
.con7_right_down_l .current2{width:183px;height:214px;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con7_right_down_l .li14 img{margin-left:27px;}
.descr{background: #FFFFFF; color: #5E5E5E; height: 45px; line-height: 18px; margin-left:12px;overflow: hidden; width: 160px;display:inline-block; word-break: break-all;}
.price{color: #CC0000; height: 18px; line-height: 18px; margin-top: -4px;margin-left:12px;} 
.price .rmb{font-size:12px;line-height:23px;;}  
.price .yuan{font-size:16px;}  
.price .jiao{line-height:23px;} 

.con7_right_down_r{width:260px;height:430px;background:red;float:right;border-bottom:1px solid #f2f2f2;}
.pplogo{background:#F3F3F3; border-left: 1px solid #E6E6E6;float: left; height: 140px; width: 259px;}
.pplogo a{ display: inline;  float: left;  height: 40px; margin: 5px 0 0 5px;  overflow: hidden; position: relative; width: 80px;}
.pplogo a img{clip: rect(0px, 80px, 80px, 0px); height: 40px; left: 0; overflow: hidden; position: absolute; top: 0; width: 160px;}
.cxList{background:#F8F8F8;  border-left: 1px solid #E6E6E6;display: inline-block; float: left;
height: 288px;padding-top: 2px;position: relative;z-index: 1;}
.cxList a{border-bottom: 1px solid #F3F3F3;    display: inline-block; float: left; height: 95px;
 overflow: hidden; width: 100%; word-break: break-all;}
.lingwai{width:182px;}   
   
 /*con8-----------------------------------*/
#con8{width:1200px;height:486px;margin:0 auto;position:relative;}
#con8 img{display:block;}
.con8_left{width:200px;height:486px;float:left;}
.con8_left_top{width:200px;height:33px;border-bottom:2px solid #a5a5a5;font-size:24px;font-family:"黑体";padding-top:20px;text-align:center;}
.con8_left_down{width:200px;height:431px;}
#con8 p{width:115px;height:394px;line-height:24px;margin-top:14px;display:inline-block;margin-left:9px;position:absolute;z-index:2}


    
    
    
   
  



.con8_right{width:1000px;height:486px;float:right;}
.con8_right_top{width:1000px;height:53px;border-bottom:2px solid #a5a5a5;}
.ul5{width:1000px;height:53px;}
.ul5 li{width:123px;height:23px;float:left;text-align:center;font-weight:bold;color:#333;display:inline-block;padding-top:30px;}
.ul5 .current{width:123px;height:23px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;display:inline-block;border-bottom:2px solid #cc0000;}

.con8_right_down{width:1000px;height:431px;}
.con8_right_down_l{width:739px;height:430px;float:left;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;position:absolute;}
.con8_right_down_l .current{width:368px;width:368px;height:216px;float:left;background:red;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;overflow:hidden;position:relative;}
.gOpSlider5{position:absolute;left:74px;bottom:0;z-index:1;width:220px;height:28px;}
.gOpSlider5 span{width:50px;height:6px;font-size:0px;margin-right:5px;background:#bbbbbb;display:inline-block;}
.fbyd5{position:absolute;left:0px;top:0;}
.gOpSlider5 .nomargin{margin:0;}
.gOpSlider5 .pmoCur{background:#cc0000;margin-right:5px;}
.con8_right_down_l li{width:184px;height:216px;float:left;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con8_right_down_l .li14 {width:184px;_display:inline;height:214px;background:#fff;}
.con8_right_down_l .current2{width:183px;height:214px;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con8_right_down_l .li14 img{margin-left:27px;}
.descr{background: #FFFFFF; color: #5E5E5E; height: 45px; line-height: 18px; margin-left:12px;overflow: hidden; width: 160px;display:inline-block; word-break: break-all;}
.price{color: #CC0000; height: 18px; line-height: 18px; margin-top: -4px;margin-left:12px;} 
.price .rmb{font-size:12px;line-height:23px;;}  
.price .yuan{font-size:16px;}  
.price .jiao{line-height:23px;} 

.con8_right_down_r{width:260px;height:430px;background:red;float:right;border-bottom:1px solid #f2f2f2;}
.pplogo{background:#F3F3F3; border-left: 1px solid #E6E6E6;float: left; height: 140px; width: 259px;}
.pplogo a{ display: inline;  float: left;  height: 40px; margin: 5px 0 0 5px;  overflow: hidden; position: relative; width: 80px;}
.pplogo a img{clip: rect(0px, 80px, 80px, 0px); height: 40px; left: 0; overflow: hidden; position: absolute; top: 0; width: 160px;}
.cxList{background:#F8F8F8;  border-left: 1px solid #E6E6E6;display: inline-block; float: left;
height: 288px;padding-top: 2px;position: relative;z-index: 1;}
.cxList a{border-bottom: 1px solid #F3F3F3;    display: inline-block; float: left; height: 95px;
 overflow: hidden; width: 100%; word-break: break-all;}
.lingwai{width:182px;}   

 

/*con9-----------------------------------*/
#con9{width:1200px;height:486px;margin:0 auto;position:relative;}
#con9 img{display:block;}
.con9_left{width:200px;height:486px;float:left;}
.con9_left_top{width:200px;height:33px;border-bottom:2px solid #a5a5a5;font-size:24px;font-family:"黑体";padding-top:20px;text-align:center;}
.con9_left_down{width:200px;height:431px;}
#con9 p{width:115px;height:394px;line-height:24px;margin-top:14px;display:inline-block;margin-left:9px;position:absolute;z-index:2;}

    
    
    
   
  



.con9_right{width:1000px;height:486px;float:right;}
.con9_right_top{width:1000px;height:53px;border-bottom:2px solid #a5a5a5;}
.ul5{width:1000px;height:53px;}
.ul5 li{width:123px;height:23px;float:left;text-align:center;font-weight:bold;color:#333;display:inline-block;padding-top:30px;}
.ul5 .current{width:123px;height:23px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;display:inline-block;border-bottom:2px solid #cc0000;}

.con9_right_down{width:1000px;height:431px;}
.con9_right_down_l{width:739px;height:430px;float:left;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;position:absolute;}
.con9_right_down_l .current{width:368px;width:368px;height:216px;float:left;background:red;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;overflow:hidden;position:relative;}
.gOpSlider6{position:absolute;left:74px;bottom:0;z-index:1;width:220px;height:28px;}
.gOpSlider6 span{width:50px;height:6px;font-size:0px;margin-right:5px;background:#bbbbbb;display:inline-block;}
.fbyd6{position:absolute;left:0px;top:0;}
.gOpSlider6 .nomargin{margin:0;}
.gOpSlider6 .pmoCur{background:#cc0000;margin-right:5px;}
.con9_right_down_l li{width:184px;height:216px;float:left;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con9_right_down_l .li14 {width:184px;_display:inline;height:214px;background:#fff;}
.con9_right_down_l .current2{width:183px;height:214px;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con9_right_down_l .li14 img{margin-left:27px;}
.descr{background: #FFFFFF; color: #5E5E5E; height: 45px; line-height: 18px; margin-left:12px;overflow: hidden; width: 160px;display:inline-block; word-break: break-all;}
.price{color: #CC0000; height: 18px; line-height: 18px; margin-top: -4px;margin-left:12px;} 
.price .rmb{font-size:12px;line-height:23px;;}  
.price .yuan{font-size:16px;}  
.price .jiao{line-height:23px;} 

.con9_right_down_r{width:260px;height:430px;background:red;float:right;border-bottom:1px solid #f2f2f2;}
.pplogo{background:#F3F3F3; border-left: 1px solid #E6E6E6;float: left; height: 140px; width: 259px;}
.pplogo a{ display: inline;  float: left;  height: 40px; margin: 5px 0 0 5px;  overflow: hidden; position: relative; width: 80px;}
.pplogo a img{clip: rect(0px, 80px, 80px, 0px); height: 40px; left: 0; overflow: hidden; position: absolute; top: 0; width: 160px;}
.cxList{background:#F8F8F8;  border-left: 1px solid #E6E6E6;display: inline-block; float: left;
height: 288px;padding-top: 2px;position: relative;z-index: 1;}
.cxList a{border-bottom: 1px solid #F3F3F3;    display: inline-block; float: left; height: 95px;
 overflow: hidden; width: 100%; word-break: break-all;}
.lingwai{width:182px;}  



/*con10-----------------------------------*/
#con10{width:1200px;height:486px;margin:0 auto;position:relative;}
#con10 img{display:block;}
.con10_left{width:200px;height:486px;float:left;}
.con10_left_top{width:200px;height:33px;border-bottom:2px solid #a5a5a5;font-size:24px;font-family:"黑体";padding-top:20px;text-align:center;}
.con10_left_down{width:200px;height:431px;}
#con10 p{width:115px;height:394px;line-height:24px;margin-top:14px;display:inline-block;margin-left:9px;position:absolute;z-index:2;}


    
    
    
   
  



.con10_right{width:1000px;height:486px;float:right;}
.con10_right_top{width:1000px;height:53px;border-bottom:2px solid #a5a5a5;}
.ul5{width:1000px;height:53px;}
.ul5 li{width:123px;height:23px;float:left;text-align:center;font-weight:bold;color:#333;display:inline-block;padding-top:30px;}
.ul5 .current{width:123px;height:23px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;display:inline-block;border-bottom:2px solid #cc0000;}

.con10_right_down{width:1000px;height:431px;}
.con10_right_down_l{width:739px;height:430px;float:left;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con10_right_down_l .current{width:368px;width:368px;height:216px;float:left;background:red;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;overflow:hidden;position:relative;}
.gOpSlider7{position:absolute;left:74px;bottom:0;z-index:1;width:22px;height:28px;}
.gOpSlider7 span{width:50px;height:6px;font-size:0px;margin-right:5px;background:#bbbbbb;display:inline-block;}
.fbyd7{position:absolute;left:0px;top:0;}
.gOpSlider7 .nomargin{margin:0;}
.gOpSlider7 .pmoCur{background:#cc0000;margin-right:5px;}
.con10_right_down_l li{width:184px;height:216px;float:left;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con10_right_down_l .li14 {width:184px;_display:inline;height:214px;background:#fff;}
.con10_right_down_l .current2{width:183px;height:214px;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con10_right_down_l .li14 img{margin-left:27px;}
.descr{background: #FFFFFF; color: #5E5E5E; height: 45px; line-height: 18px; margin-left:12px;overflow: hidden; width: 160px;display:inline-block; word-break: break-all;}
.price{color: #CC0000; height: 18px; line-height: 18px; margin-top: -4px;margin-left:12px;} 
.price .rmb{font-size:12px;line-height:23px;;}  
.price .yuan{font-size:16px;}  
.price .jiao{line-height:23px;} 

.con10_right_down_r{width:260px;height:430px;background:red;float:right;border-bottom:1px solid #f2f2f2;}
.pplogo{background:#F3F3F3; border-left: 1px solid #E6E6E6;float: left; height: 140px; width: 259px;}
.pplogo a{ display: inline;  float: left;  height: 40px; margin: 5px 0 0 5px;  overflow: hidden; position: relative; width: 80px;}
.pplogo a img{clip: rect(0px, 80px, 80px, 0px); height: 40px; left: 0; overflow: hidden; position: absolute; top: 0; width: 160px;}
.cxList{background:#F8F8F8;  border-left: 1px solid #E6E6E6;display: inline-block; float: left;
height: 288px;padding-top: 2px;position: relative;z-index: 1;}
.cxList a{border-bottom: 1px solid #F3F3F3;    display: inline-block; float: left; height: 95px;
 overflow: hidden; width: 100%; word-break: break-all;}
.lingwai{width:182px;}  



/*con11-----------------------------------*/
#con11{width:1200px;height:486px;margin:0 auto;position:relative;}
#con11 img{display:block;}
.con11_left{width:200px;height:486px;float:left;}
.con11_left_top{width:200px;height:33px;border-bottom:2px solid #a5a5a5;font-size:24px;font-family:"黑体";padding-top:20px;text-align:center;}
.con11_left_down{width:200px;height:431px;}
#con11 p{width:115px;height:394px;line-height:24px;margin-top:14px;display:inline-block;margin-left:9px;position:absolute;z-index:2;}


    
    
    
   
  



.con11_right{width:1000px;height:486px;float:right;}
.con11_right_top{width:1000px;height:53px;border-bottom:2px solid #a5a5a5;}
.ul5{width:1000px;height:53px;}
.ul5 li{width:123px;height:23px;float:left;text-align:center;font-weight:bold;color:#333;display:inline-block;padding-top:30px;}
.ul5 .current{width:123px;height:23px;background:url(../images/nav_c4.png) repeat-x left bottom;float:left;border:none;font-weight:bold;color:#cc0000;text-align:center;display:inline-block;border-bottom:2px solid #cc0000;}

.con11_right_down{width:1000px;height:431px;}

.con11_right_down_l{width:739px;height:430px;float:left;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;position:absolute;}
.con11_right_down_l .current{width:368px;width:368px;height:216px;float:left;background:red;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;overflow:hidden;position:relative;}
.gOpSlider8{position:absolute;left:74px;bottom:0;z-index:1;width:220px;height:28px;}
.gOpSlider8 span{width:50px;height:6px;font-size:0px;margin-right:5px;background:#bbbbbb;display:inline-block;}
.fbyd8{position:absolute;left:0px;top:0;}
.gOpSlider8 .nomargin{margin:0;}
.gOpSlider8 .pmoCur{background:#cc0000;}
.con11_right_down_l li{width:184px;height:216px;float:left;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con11_right_down_l .li14 {width:184px;_display:inline;height:214px;background:#fff;}
.con11_right_down_l .current2{width:183px;height:214px;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;_display:inline;}
.con11_right_down_l .li14 img{margin-left:27px;}
.descr{background: #FFFFFF; color: #5E5E5E; height: 45px; line-height: 18px; margin-left:12px;overflow: hidden; width: 160px;display:inline-block; word-break: break-all;}
.price{color: #CC0000; height: 18px; line-height: 18px; margin-top: -4px;margin-left:12px;} 
.price .rmb{font-size:12px;line-height:23px;;}  
.price .yuan{font-size:16px;}  
.price .jiao{line-height:23px;} 

.con11_right_down_r{width:260px;height:430px;background:red;float:right;border-bottom:1px solid #f2f2f2;}
.pplogo{background:#F3F3F3; border-left: 1px solid #E6E6E6;float: left; height: 140px; width: 259px;}
.pplogo a{ display: inline;  float: left;  height: 40px; margin: 5px 0 0 5px;  overflow: hidden; position: relative; width: 80px;}
.pplogo a img{clip: rect(0px, 80px, 80px, 0px); height: 40px; left: 0; overflow: hidden; position: absolute; top: 0; width: 160px;}
.cxList{background:#F8F8F8;  border-left: 1px solid #E6E6E6;display: inline-block; float: left;
height: 288px;padding-top: 2px;position: relative;z-index: 1;}
.cxList a{border-bottom: 1px solid #F3F3F3;    display: inline-block; float: left; height: 95px;
 overflow: hidden; width: 100%; word-break: break-all;}
.lingwai{width:182px;}  
/*footer-------------------------------------*/
#footer{width:1200px;height:520px;margin:0 auto;}
.yijian{width:157px;height:33px;background:url(../images/yijian.png) no-repeat 10px 8px;padding-left:30px;line-height:3em;}
.yijian a:link,.yijian a:visited{color:#0066cc;text-decoration:none;}
.yijian a:hover{color:#0066cc;text-decoration:underline;}
.ft_top{width:1200px;height:46px;background:#ae111d;}
.ft_top li{width:267px;height:46px;float:left;padding-left:133px;color:#fff;font-size:20px;font-family:"微软雅黑";line-height:2em;}
.xiangzhengpin{width:22px;height:24px;display:block;background:url(../images/ui.png) no-repeat -409px -2px;float:left;margin-top:10px;}
.xinfuwu{width:25px;height:24px;display:block;background:url(../images/ui.png) no-repeat -433px 1px;_background:url(../images/ui.png) no-repeat -433px 4px;float:left;margin-top:10px;}
.zhongleiquan{width:27px;height:30px;display:block;background:url(../images/ui.png) no-repeat -434px -23px;_background:url(../images/ui.png) no-repeat -432px -22px;float:left;margin-top:10px;}
.xinshouzhinan{width:1200px;height:157px;background:#f8f8f8;padding-top:18px;float:left;}
.xinshouzhinan ul{height:140px;float:left;margin:0 30px 0 50px;line-height:24px;_margin-left:40px;}
.xinshouzhinan .biaoti{font-size:20px;font-weight:bold;color:#333;margin-bottom:10px;}
#footer .youqinglianjie{width:552px;height:16px;margin-left:323px;_margin-left:160px;margin-top:18px;float:left;}
.youqinglianjie li{float:left;border-right:1px solid #ede6ed;height:16px;padding:0 16px 0 22px;line-height:16px;}
.youqinglianjie .nobd{border:none;height:16px;padding:0;padding-left:9px;}
a{height:16px;}
.qixiawangzhan{width:354px;float:left;margin-left:430px;_margin-left:210px;margin-top:10px;color:#a5a5a5;padding-bottom:47px;}
.xin{display:inline-block;width:40px;height:42px;background:blue;float:left;margin-left:580px;background:url(../images/ui.png) no-repeat -461px 2px;}
.banquan{width:636px;height:55px;margin-top:5px;margin-left:320px;float:left;text-align:center;display:inline;_clear:both;}

.beian{width:446px;height:37px;margin-left:370px;_margin-left:190px;float:left;margin-top:0px;_margin-top:16px;display:inline-block;}
.beian .one{width:124px;height:37px;background:url(../images/124_35_zzoknl.gif) no-repeat;margin-right:23px;float:left;inline-block;}
.beian .two{width:146px;height:37px;background:url(../images/146_35_ylky.gif) no-repeat;margin-right:23px;float:left;inline-block;}
.beian .three{width:124px;height:37px;background:url(../images/145_35.gif) no-repeat;float:left;inline-block;}